# https://github.com/wwmm/easyeffects/blob/master/debian/easyeffects/systemd/easyeffects.service

[Unit]
Description=EasyEffects Service
Documentation=https://wwmm.github.io/easyeffects
After=graphical-session.target
After=pipewire-pulse.service
BindsTo=pipewire-pulse.service
PartOf=pipewire-pulse.service

[Service]
ExecStart=easyeffects --service-mode --hide-window
Restart=no
StartLimitInterval=3
GuessMainPID=yes
Slice=app-graphical.slice

[Install]
WantedBy=graphical-session.target
