[Unit]
Description=rclone: Bidirectional sync of local files and Google Drive

[Timer]
OnStartupSec=1usec
OnUnitInactiveSec=30min

[Install]
WantedBy=timers.target
