# Resync before using this service (dry-run first to be sure that no data will be lost)
# rclone bisync --dry-run --resync --log-level INFO drive:computers ~/library
#
# Enable the timer
# systemctl --user enable --now rclone-bisync.timer

[Unit]
Description=rclone: Bidirectional sync of local files and Google Drive
Documentation=man:rclone(1)
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/rclone bisync \
	--log-level INFO \
	drive:computers %h/library
Restart=on-failure
RestartSec=1s
RestartSteps=10
RestartMaxDelaySec=30min
RestartPreventExitStatus=2
# 2 for a critically aborted run (requires a --resync to recover)
# TODO: invert logic, use RestartForceExitStatus=1 (not available for oneshot yet)

[Install]
WantedBy=default.target
