[submodule "nvim-treesitter"]
	path = .config/nvim/pack/ages/start/nvim-treesitter
	url = git@github.com:nvim-treesitter/nvim-treesitter.git
[submodule "nvim-lspconfig"]
	path = .config/nvim/pack/ages/start/nvim-lspconfig
	url = git@github.com:neovim/nvim-lspconfig.git
[submodule "mini.nvim"]
	path = .config/nvim/pack/ages/start/mini.nvim
	url = git@github.com:echasnovski/mini.nvim.git
