[submodule "nvim-treesitter"]
	path = .config/nvim/pack/ages/start/nvim-treesitter
	url = git@github.com:nvim-treesitter/nvim-treesitter.git
[submodule "nvim-lspconfig"]
	path = .config/nvim/pack/ages/start/nvim-lspconfig
	url = git@github.com:neovim/nvim-lspconfig.git
[submodule "rose-pine"]
	path = .config/nvim/pack/ages/start/rose-pine
	url = git@github.com:rose-pine/neovim.git
