* {
	border: none;
	border-radius: 0;
	font-family: sans-serif;
	font-size: 13px;
	min-height: 0;
}

window#waybar {
	background: #225877;
	color: #FFFFFF;
}

tooltip {
	background: #323232;
}

#workspaces button {
	padding: 0 5px;
	color: #FFFFFF;
}

#workspaces button.focused {
	background: #225877;
}

#workspaces button.urgent {
	color: #ff5555;
}

.modules-left {
	background: #323232;
}

.modules-right {
	background: #323232;
}


#window{
	background: #225877;
	padding: 0 5px;
}

#scratchpad,
#mode{
	padding: 0 5px;
}

#tray,
#idle_inhibitor,
#pulseaudio,
#network,
#clock {
	padding: 0 10px;
}

#tray > .needs-attention {
	background: #ff5555;
}

#battery.critical {
	color: #ff5555;
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
}

#network.disconnected {
	color: #ff5555;
}
