* {
	border: none;
	border-radius: 0;
	min-height: 0;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-size: 11pt;
}

window#waybar {
	color: @theme_text_color;
	background: @theme_base_color;
}

#workspaces button {
	padding: 0 3pt;
}

#workspaces button.persistent {
	color: @theme_unfocused_fg_color;
}

#workspaces button.focused {
	font-weight: bold;
	color: @theme_selected_fg_color;
	background: @theme_selected_bg_color;
}

#workspaces button.urgent {
	background: @error_color;
}

#mode {
	background: @success_color;
}

#systemd-failed-units {
	background: @error_color;
}

#custom-menu {
	padding: 0 6 0 12pt;
}
#window,
#scratchpad,
#mode {
	padding: 0 6pt;
}

#workspaces,
#systemd-failed-units,
#custom-pacman,
#tray,
#mpris,
#cpu,
#memory,
#temperature,
#keyboard-state,
#language,
#idle_inhibitor,
#network,
#wireplumber,
#battery,
#clock {
	padding: 0 6pt;
}
#clock {
	padding-right: 12pt;
}
