* {
	border: none;
	border-radius: 0;
	min-height: 0;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-size: 11pt;
}

window#waybar {
	background: @theme_bg_color;
	color: @wm_icon_bg;
}

#workspaces button {
	padding: 0 5pt;
}
#workspaces button.focused {
	font-weight: bold;
	background: @theme_selected_bg_color;
}
#workspaces button.urgent {
	background: @error_color;
}
#workspaces button.persistent {
	color: @wm_unfocused_title;
}


#custom-menu {
	padding: 0 10 0 20pt;
}
#window,
#scratchpad,
#mode {
	padding: 0 10pt;
}

#workspaces,
#custom-systemd,
#custom-pacman,
#tray,
#mpris,
#cpu,
#memory,
#temperature,
#keyboard-state,
#language,
#idle_inhibitor,
#network,
#wireplumber,
#clock {
	padding: 0 8pt;
}
#clock {
	padding-right: 20pt;
}
