@define-color focused_border     #4c7899;
@define-color focused_background #285577;
@define-color focused_text       #ffffff;

@define-color focused_inactive_border     #333333;
@define-color focused_inactive_background #5f676a;
@define-color focused_inactive_text       #ffffff;

@define-color unfocused_border     #333333;
@define-color unfocused_background #222222;
@define-color unfocused_text       #888888;

@define-color urgent_border     #2f343a;
@define-color urgent_background #900000;
@define-color urgent_text       #ffffff;

* {
	border: none;
	border-radius: 0;
	min-height: 0;
	margin: 0;
	padding: 0;
	font-family: system-ui;
	font-size: 11pt;
}

window#waybar {
	color: @focused_text;
	background: @unfocused_background;
}

#workspaces button {
	padding: 0 2.5pt;
	border: 1px solid @unfocused_border;
	color: @unfocused_text;
	background: @unfocused_background;
}

#workspaces button.visible {
	border: 1px solid @focused_inactive_border;
	color: @focused_inactive_text;
	background: @focused_inactive_background;
}

#workspaces button.focused {
	border: 1px solid @focused_border;
	color: @focused_text;
	background: @focused_background;
}

#workspaces button.urgent {
	border: 1px solid @urgent_border;
	color: @urgent_text;
	background: @urgent_background;
}

#mode {
	color: @urgent_text;
	background: @urgent_background;
}

#systemd-failed-units {
	color: @urgent_text;
	background: @urgent_background;
}

#battery.discharging.low {
	color: @urgent_text;
	background: @urgent_background;
}

#custom-menu {
	padding: 0 5 0 10pt;
}
#window,
#scratchpad,
#mode {
	padding: 0 5pt;
}

#workspaces,
#systemd-failed-units,
#tray,
#mpris,
#cpu,
#memory,
#temperature,
#keyboard-state,
#language,
#custom-dnd,
#idle_inhibitor,
#network,
#wireplumber,
#battery,
#clock {
	padding: 0 5pt;
}
#clock {
	padding-right: 10pt;
}
