# vim: ft=systemd

[Unit]
Description=Containerized Jellyfin Media Server
Documentation=https://jellyfin.org/docs/

[Container]
Image=docker.io/linuxserver/jellyfin:latest
AutoUpdate=registry

# Map user 0 (root) to the host user that runs the container
UserNS=host
Environment=PUID=0
Environment=PGID=0

# 8096: Default HTTP
# 7359: Client Discovery
PublishPort=0.0.0.0:8096:8096/tcp
PublishPort=0.0.0.0:7359:7359/udp

AddDevice=/dev/dri/:/dev/dri/

Volume=%E/jellyfin:/config
Volume=%C/jellyfin:/config/cache
Volume=%D/jellyfin:/config/data
Volume=%S/jellyfin:/config/log
Volume=%h/jellyfin-media:/media:ro

PodmanArgs=--cpus=1

[Service]
ExecStartPre=/usr/bin/mkdir -p %E/jellyfin
ExecStartPre=/usr/bin/mkdir -p %C/jellyfin
ExecStartPre=/usr/bin/mkdir -p %D/jellyfin
ExecStartPre=/usr/bin/mkdir -p %S/jellyfin
ExecStartPre=/usr/bin/mkdir -p %h/jellyfin-media

[Install]
WantedBy=default.target
