# vim: ft=systemd

[Unit]
Description=Containerized LanguageTool HTTP server
# Disable it on my laptop (this service is heavy)
ConditionHost=!warana

# Disables default dependency (After=/Wants=podman-user-wait-network-online.service)
[Quadlet]
DefaultDependencies=false

[Container]
Image=docker.io/meyay/languagetool:latest
AutoUpdate=registry

DropCapability=all
NoNewPrivileges=true
UserNS=keep-id
ReadOnly=true

Tmpfs=/tmp
Environment=download_ngrams_for_langs=en
Volume=%D/ngrams:/ngrams
Volume=%D/fasttext:/fasttext

PublishPort=0.0.0.0:8081:8081/tcp

[Service]
ExecStartPre=/usr/bin/mkdir -p %D/ngrams
ExecStartPre=/usr/bin/mkdir -p %D/fasttext
Restart=on-failure

[Install]
WantedBy=default.target
