# vim: ft=systemd

[Unit]
Description=Containerized LanguageTool HTTP server
# Disable it on my laptop (this service is heavy)
ConditionHost=!warana

# Disables default dependency (After=/Wants=podman-user-wait-network-online.service)
[Quadlet]
DefaultDependencies=false

[Container]
Image=docker.io/meyay/languagetool:latest
AutoUpdate=registry
DropCapability=all
AddCapability=CAP_SETUID CAP_SETGID CAP_CHOWN
NoNewPrivileges=true
Environment=download_ngrams_for_langs=en
Environment=langtool_languageModel=/ngrams
Environment=langtool_fasttextModel=/fasttext/lid.176.bin
Volume=%h/.local/share/ngrams:/ngrams
Volume=%h/.local/share/fasttext:/fasttext
PublishPort=0.0.0.0:8081:8081/tcp

[Service]
ExecStartPre=/usr/bin/mkdir -p %h/.local/share/ngrams
ExecStartPre=/usr/bin/mkdir -p %h/.local/share/fasttext
Restart=on-failure

[Install]
WantedBy=default.target
